/*Стилизация глобальный компонентов*/ 

*, button {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: #000;
}

body {
    min-height: 100vh;
        font-family: "Roboto", sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529
}

h1 {
    margin-bottom: 40px;
}

h2 {
    width: 100%;
    margin-bottom: 20px;
}

.container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    width: 1140px;

    margin: 0 auto; 
    margin-bottom: 40px;
}

.xl {
    width: 49%;
}

.l {
    width: 25%;
    min-width: 200px;
}

.m {
    width: 15%;
    min-width: 100px;
}

.s {
    width: 5%;
    min-width: 50px;
}

.border {
    border: 1px grey solid;
    border-radius: 5px;
}

.btn {
    background-color: #218838;
    border-color: #1e7e34;

    color: #fff;
    font-size: 15px;

    height: 39px;
}

.text {
    padding: 10px;
}
/*Стилизация главной страницы*/
/*Стилизация шапки и меню*/
.menu-logo {
    width: 15%;
}

.menu img {
    width: 100%;
    height: auto;
    padding: 1%;
}

.nav {
    display: flex;
    justify-content: space-around;
    width: 55%;
    margin: auto 0;
    text-transform: uppercase;
}
.menu {
    background-color: rgba(205,205,205,.5);
}
/*Стилизация полей поиска рейса*/
.search {
    display: flex;
    flex-wrap: wrap;
}

.search-form {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-around;
}
/*Стилизация акций*/
.promotions {
    display: flex;    
}

.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;    
}

.card-item {
    width: 23%;
    min-width: 250px;
    height: 350px;
}

.card-item-bg {
    width: 100%;
}

.card-item-discription {
    display: flex;
    height: 50%;
    flex-direction: column;
    justify-content: space-around;
    padding: 20px;
    padding-top: 0;
}

/*Стилизация блока подписки*/

.subscribe-form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
}

/*Стилизация форм входа и регистрации*/

.log-in-form {
    display: flex;    
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
}

.log-in-form h1 {
    margin: 0 auto;
}

.log-in-form-item {
    width: 100%;
    margin-bottom: 20px;
}

.log-in-form a {
    color: blue;
}