/*Стилизация глобальный компонентов*/ 

*, button {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: #000;
}

a[class] {
    padding: 8px;
    text-align: center;
}

body {
    min-height: 100vh;
    font-family: "Roboto", sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529
}

h1 {
    margin-bottom: 40px;
}

h2 {
    width: 100%;
    margin-bottom: 20px;
    font-weight: 400;
}

.container {
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    width: 1140px;

    margin: 0 auto; 
    margin-bottom: 40px;
}

.xl {
    width: 49%;
}

.l {
    width: 25%;
    min-width: 200px;
}

.m {
    width: 15%;
    min-width: 100px;
}

.s {
    width: 5%;
    min-width: 50px;
}

tbody {
    border: 1px grey solid;
}

th, td {
    padding: 10px 20px;
    
}
.border {
    border: 1px grey solid;
    border-radius: 5px;
}

.btn {
    background-color: #218838;
    opacity: 0.7;
    border-color: #1e7e34;

    color: #fff;
    font-size: 15px;

    height: 39px;
}

.btn:hover {
    opacity: 1;
}

.text {
    padding: 10px;
}

/*Базовая стилизация таблиц*/

table {
    display: grid;
    border-collapse: collapse;
    border: 1px silver solid;
    min-width: 100%;
    margin-bottom: 30px; 
  }
  
  thead,
  tbody,
  tr {
    display: contents;
  }
  
  th,
  td {
    padding: 15px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    border-right: 1px silver solid;
  }
  
  th {
    position: sticky;
    top: 0;
    background: #ffffff;
    text-align: left;
    font-weight: normal;
    font-size: 1.1rem;
  }
  
  th:last-child, td:last-child {
    border: 0;
  }
  
  td {
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #808080;
  }
  
  tr:nth-child(even) td {
    background: #ffffff;
  }

/*Стилизация главной страницы*/
/*Стилизация шапки и меню*/
.menu-logo {
    width: 15%;
}

.menu img {
    width: 100%;
    height: auto;
    padding: 1%;
}

.nav {
    display: flex;
    justify-content: space-around;
    width: 55%;
    margin: auto 0;
}
.menu {
    background-color: rgba(205,205,205,.5);
}
/*Стилизация полей поиска рейса*/
.search {
    display: flex;
    flex-wrap: wrap;
}

.search-form {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-around;
}
/*Стилизация акций*/
.promotions {
    display: flex;    
}

.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;    
}

.card-item {
    width: 23%;
    min-width: 250px;
    height: 350px;
}

.card-item-bg {
    width: 100%;
}

.card-item-discription {
    display: flex;
    height: 50%;
    flex-direction: column;
    justify-content: space-around;
    padding: 20px;
    padding-top: 0;
}

/*Стилизация блока подписки*/

.subscribe-form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
}

/*Стилизация форм входа и регистрации*/

.log-in-form {
    content: "";
    position: absolute;
    
    display: none;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    height: 100%;
    width: 100%;
}

.log-in-form h1 {
    width: 100%;
    margin: 0 auto;
    margin-bottom: 40px;
}

.log-in-form-item {
    width: 48%;
    margin: 10px;
    margin-right: 0;
}

.log-in-form a {
    color: blue;
}

.form-button {
    width: 100%;
}

.log-in-form p {
    margin: 0 auto;
}

/*Стилизация страницы search*/

.search-nav {
    width: 100%;

    margin: 40px 0;
}

.btn-back {
    background: #8C959D;
    min-width: 7%;
}

.search-table {
    grid-template-columns: 
      minmax(100px, 0.8fr)
      minmax(100px, 1fr)
      minmax(100px, 2fr)
      minmax(100px, 1fr)
      minmax(100px, 1fr)
      minmax(100px, 0.5fr);
    margin-bottom: 30px;
}

.btn-search {
    min-width: 10%;
    background-color: blue;
}

/*Стилизация страницы бронирования*/

.seat-form {
    width: 40%;
}

.seat-table {
    grid-template-columns: 
    minmax(100px, 1fr)
    minmax(100px, 1fr)
    minmax(100px, 1.3fr);
    margin-bottom: 20px;
}

.select-btn {
    margin-left: 20px;
}

.seat-container {
    display: flex;
    flex-direction: column;
    width: 60%;
    justify-content: center;
    align-items: center;
}

.seat-schema {
    display: flex;
    margin-bottom: 5px;
}

.seat {
    text-align: center;
    width: 30px;
    height: 24px;
}

.left-select-container {
    display: flex;
    margin-right: 15px;
}

.right-select-container {
    display: flex;
    margin-left: 15px;
}

.seat-select {
    background-color: silver;
    margin: 1px;
    border: 1px grey solid;
}

.seat-selected {
    background-color: greenyellow;
}

/*Стилизация профиля*/

.profile-header {
    justify-content: space-between;
    height: 100px;
    margin-top: 40px;
}

.info h1 {
    margin-bottom: 20px;
}

.logout-btn {
    background-color: grey;
}

.profile-table {
    grid-template-columns: 
      minmax(100px, 1fr)
      minmax(100px, 1fr)
      minmax(100px, 1fr)
      minmax(100px, 1.3fr);
    background-color: #fff;
    border: none;
}

.profile-table h3 {
    margin-bottom: 40px;
}

.profile-table td {
    background: #fff;
    border: none;
    border-top: 1px grey solid;
}

.book-btn {
    background-color: blue;
}

.remove-btn {
    background-color: red;
}

.flight-info {
    color: blue;
}

/*Стилизация страницы информации о рейсе*/

.booking-table {
    grid-template-columns: 
      minmax(100px, 0.8fr)
      minmax(100px, 1.2fr)
      minmax(100px, 1fr)
      minmax(100px, 1.6fr)
      minmax(100px, 1fr)
      minmax(100px, 1fr)
      minmax(100px, 1fr);
    margin-bottom: 30px;
   
}

.booking-table td {
    border-collapse: collapse;
    background: #ffffff;
    border-top: 1px grey solid;
}

.passangers-info {
    grid-template-columns: 
      minmax(100px, 1fr)
      minmax(100px, 1fr)
      minmax(100px, 1fr)
      minmax(100px, 1fr)
      minmax(100px, 1fr);
    margin-bottom: 30px;
}

/*Стилизация страницы информации о рейсе*/

.info-table {
    grid-template-columns:  
    minmax(100px, 0.7fr)
    minmax(100px, 1fr)
    minmax(100px, 1fr)
    minmax(100px, 1fr)
    minmax(100px, 0.5fr)
    minmax(100px, 0.5fr);
}

.info-table td {
    border-collapse: collapse;
    background: #ffffff;
    border-top: 1px grey solid;
}

.cost {
    grid-column: span 5;
    text-align: end;
}

.header-form {
    display: flex;
    justify-content: space-between;

    width: 100%;
}

.search-form button {
    background-color: red;
    border-color: red;
}

.booking-submit {
    width: 100%;
}